---
title: About our chefs
layout: base.njk
---

<img src="../assets/images/ourchefs.jpg" alt="nonne!">

<p>Our chefs are the best. Because they are all sweet grandmas. Sweet Sicilian Grandmas. You have to eat!! </p>
