---
title: About our chefs
layout: base.njk
---

<img src="../assets/images/ourchefs.jpg" alt="nonne!" class="images">
<p>At the heart of our recipes are the sweet Sicilian grandmas who have spent decades perfecting the art of traditional
  cooking. These nonnas, with their loving hands and rich culinary heritage, bring to life the vibrant flavors of Sicily
  in every dish. Passed down through generations, their recipes reflect the warmth and care they pour into their
  kitchens—making every meal a celebration of family and culture. From fresh homemade pasta to rich tomato sauces, every
  bite is infused with the wisdom of experience and the love only a Sicilian grandma can provide. These are the true
  creators of our recipes, sharing with you the authentic tastes of Sicily, one lovingly prepared dish at a time.</p>
<p class="eat">Our chefs are the best. Because they are all sweet grandmas. Sweet Sicilian Grandmas. You have to eat!!
</p>