---
title: Italian Recipes
layout: base.njk
---

<h2>Or better, <em>Sicilian<em></h2>
<p>The culinary treasures of Sicilian cuisine are truly endless. 
I could spend hours talking about the iconic and most famous dishes of the beautiful Island
such as sfincione, panerlle and fried everything. But today, I dusted off grandma's old cookbook and, 
thanks to her formidable advice, I prepared three diffrent pasta recipies.</p>