---
layout: base.njk
---
<ul class="tags">
  {# Loop through the tags array and display each tag #}
  {% for tag in tags %}
   <li> <a href="/"> {{ tag }} </a></li>
  {% endfor %}
</ul>

<div class="info">
<strong>Difficulty:</strong>  {{ difficulty }}
<strong>Time:</strong>  {{ time }}
<strong>Cooking Time:</strong>  {{ cookingtime }}
<strong>Dosage:</strong>  {{ dosage }}
<strong>Cost:</strong>  {{ cost }}
</div>


{{ content | safe }}

{{ recipe }}


  <h2>See also:</h2>
  <ul class="cardsgrid">
  {# Loop through the posts collection and print the titles with links, excluding the current page #}
  {% for recipe in collections.recipe %}
    {% if recipe.url != page.url and (tags | dump) == (recipe.data.tags | dump)%}
       <li>
        <a href="{{ recipe.url }}">
          <h3>{{ recipe.data.title }}</h3>
        </a>

        <ul class="tags">
          {# Loop through the tags array and display each tag #}
          {% for tag in tags %}
          <li> <a href="/"> {{ tag }} </a></li>
          {% endfor %}
        </ul>

        <img src="{{ recipe.data.image }}" alt="{{ recipe.data.title }}">
        </li>   
    {% endif %}
  {% endfor %}
</ul>

    