<footer class="center">
  <div class="footer">
  <p>&copy; 2024 - sicilian food forever</p>
  <a href="/"> <img src="/assets/images/facebook.svg" alt="facebook icon"> facebook</a>
  <a href="/"><img src="/assets/images/instagram.svg" alt="instagram icon"> instagram</a>
  </div>
  <a href="/"> <img class="logo" src="/assets/images/logo.webp" alt="logo"></a>
</footer>