<nav class="center">
 <a href="/"> <img class="logo" src="/assets/images/logo.webp" alt="logo"></a>
    <div>
      <a href="/" class="{% if page.url == '/' %}active-page{% endif %} links">Home</a>
      <a href="/about/" class="{% if page.url == '/about/' %}active-page{% endif %} links">About</a>
      </div>
</nav>