<nav>
  <ul>
    <li><a href="/" class="{% if page.url == '/' %}active-page{% endif %}">Home</a></li>
    <li><a href="/about/" class="{% if page.url == '/about/' %}active-page{% endif %}">About</a></li>
    <li><a href="/recipes/recipe-1" class="{% if page.url == '/recipes/' %}active-page{% endif %}">Anellini al forno</a></li>
    <li><a href="/recipes/recipe-2/" class="{% if page.url == '/recipes/' %}active-page{% endif %}">Pasta ca Muddica</a></li>
    <li><a href="/recipes/recipe-3/" class="{% if page.url == '/recipes/' %}active-page{% endif %}">Pasta alla Norma</a></li>
  </ul>
</nav>