<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about/">About</a></li>
    <li><a href="/recipe-1/">Anellini</a></li>
    <li><a href="/recipe-2/">Pasta ca Muddica</a></li>
    <li><a href="/recipe-3/">Pasta alla Norma</a></li>
  </ul>
</nav>